//
// Dashboard Page style
// Mobile First CSS Method
// Created by Hiroko Y.
// Date: 2018-12-15
// --------------------------------------------------
tr:focus{
  background-color: $third-color;
}

.pagination {
  margin: 10px 0 3px 0;
}
.zero-margin{
  margin: 0;
}
.main-content{
  float: none;
  margin: 0 auto;
}

.employeeListTbl{
  background: #fff;
  th{
    text-align: center;
    background: #fff;
  }
  .item-department{
    line-height: 3em;
  }
  .item-employeeId{
    width: 5%;
  }
  .fa-sort{
    padding-left: 10px;
    vertical-align: middle;
    font-size: 18px;
    &:hover{
      color: $secondary-color;
    }
  }
  .item-id{
    width: 6%;
  }
  .item-edit{
    width: 10%;
  }
  .text-centered{
    text-align:center;
  }

}

/* Desktop (>= 992px)
-------------------------------------------------- */
@media (min-width: 992px) {}

/* Desktop (>= 1200px)
-------------------------------------------------- */
@media (min-width: 1200px){}


